<div *ngIf = "isManager() == false">
<div>
  <button hidden type = "button" class = "btn btn-default" (click) = "logout()">Logout</button>
</div>

<br/>
<div class="navbar navbar-default navbar-fixed-top">
	<div class = "container">
		<!--To keep content visible-->
	</div>
</div>

<div class="navbar navbar-default navbar-fixed-top">
	<div class = "container">
		<a  href = "#" class = "text-muted navbar-brand">
			<b>INSURANCE POINT OF SALE</b>
		</a>
		<button class = "navbar-toggle" data-toggle= "collapse" data-target = ".navHeaderCollapse">
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>
		<div>
			<ul class = "nav navbar-nav navbar-right">
				<li><a href="#">{{getUsername()}}</a></li>
				<li id = "logoutIdForTest" class = "active"><a (click) = "logout()" href="#">Logout</a></li>
			</ul>
		</div>
	</div>
</div>
<div class = "container">
    <p class="h1 text-center">{{osiguravajucaKuca?.naziv}}</p>
    <app-tipovi-osiguranja></app-tipovi-osiguranja>
</div>


<br/>
<br/>
<br/>
<br/>

<div class="navbar navbar-default navbar-fixed-bottom">
	<div class = "container">
		<div class = "navbar-text navbar pull-right">
			<p class = "h4">Copyright TeamNo2, January 2018.</p>
		</div>
	</div>
</div>
<div>